.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}


h1 {
    text-align: center
}

.subtitles{
    text-align: center
}